.alphabet {
  &__wrapper {
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    flex-wrap: wrap;
    max-height: 250px;
    
    @media (min-width: 1024px) {
      max-height: 450px;
    }
  }

  &__letter {
    box-sizing: border-box;
    border: 1px solid transparent;
    padding: 3px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 55px;
    margin: 5px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;

    font-weight: 600;

    &:hover {
      border: 1px solid var(--vt-c-text-light-1);
    }

    &_selected {
      background-color: var(--vt-c-text-light-1);
      color: var(--vt-c-text-dark-2);

      &:hover {
        background-color: var(--vt-c-text-light-2);
      }
    }
  }
}
